@import "tailwindcss";
@import "../../registry/special/styles/theme.css";

@source "../../registry/special";

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

button,
input {
  font: inherit;
}
